<div class="userloginmainbody">

  
  <div class="headinglogin">WANNA WRITE ?</div>
  
    
    <div class="inputarea">
      <div>

          <input type="file" class="fileinput" (change)="onFileChange($event)" />
<br>
        <input type="email" name="useremail" placeholder="Email" [(ngModel)]="email" />
        <br>
        <div class="password-container">

          <input type="password" [type]="passwordVisible?'text':'password'" name="userpass" placeholder="Password"   [(ngModel)]="password" />
          <button type="button" class="hideunhide"
          (click)="togglePassword()">
          <div *ngIf="passwordVisible">🙊</div>
          <div *ngIf="!passwordVisible">🙈</div>
          
        </button>
      </div>
      
        <input type="text" id="username" placeholder="Name" [(ngModel)]="name" />
        <br>
        
      </div>
      
      <div class="buttons">
        <div class="button1">

          <button (click)="login(email, password)">
            <img src="assets/img/signinbutton.png" alt="signInButton"/>  
          </button>
        </div>
          <div class="button2">
            <button (click)="register(email, password, name)">
              <img src="assets/img/signupbutton.png" alt="signInButton"/>  
            </button>
          </div>
          <div class="button3">
            <span (click)="guestlogin()" style="color: blue;text-decoration: underline;cursor: pointer;">
              Visit As Guest? 
              <!-- <img src="assets/img/signupbutton.png" alt="signInButton"/>   -->
            </span>
          </div>
      </div>
    
    
    </div>
    <div class="recaptcha-container" *ngIf="siteKey">
      <re-captcha
        (resolved)="resolved($event)"
        [siteKey]="siteKey"
      ></re-captcha>
    </div>


  <div class="footerheadinglogin"> signin / signup to write</div>
  
</div>