
<div class="myblogsidebar">
    <ul>
      <div>
        <li (click)="setActiveSection('My-Posts')"  [ngClass]="{'active': activeSection === 'My-Posts'}">My Posts</li>
      </div>
      <div>
        <li (click)="setActiveSection('Bookmarks')"  [ngClass]="{'active': activeSection === 'Bookmarks'}">Saved Posts</li>
      </div>
    </ul>
</div>

<div *ngIf="activeSection==='My-Posts' ">

<div *ngIf="posts.length === 0">
<div class="noposttext">
  <h3>No posts available.</h3>
</div>
<div class="postnowbutton">
  <button (click)="navigateToWrite()">Post Now</button>
</div>
</div>

<div class="post-cards-container" >
  <div *ngFor="let post of posts">
    <div class="post-card">
      <h2>{{ post.title }}</h2>
      <p class="post-date">{{ post.createdAt | date:'mediumDate' }}</p>
      <img [src]="post.imageUrl" alt="Post Image" class="post-image" *ngIf="post.imageUrl" />
      <div class="likes">
        <div>{{ post.funnycount + post.sadcount + post.loveitcount }} Likes</div>
      </div>
      <div *ngIf="post.userId === userId else readpost">
        <div class="addcollaborator">
          <button [routerLink]="'/search-add-collab/'+post._id">Add Collaborator</button>
        </div>
        <div class="workspace">
          <button [routerLink]="'/collab/'+userId+'/'+post._id">WorkSpace</button>
        </div>
        <div class="readpost">
          <button style="cursor: pointer;"  [routerLink]="'/reading/' + post._id" >READ</button>
        </div>
      </div>
      <ng-template #readpost>
        <div class="readpost">
          <button style="cursor: pointer;"  [routerLink]="'/reading/' + post._id" >READ</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>


</div>

<div *ngIf="activeSection==='Bookmarks'">
    <!-- <p>My Saved Posts</p> -->
    <div  class="post-cards-container" >
    <div *ngFor="let post of bookmarkposts">
  <div class="post-card">
    <h2>{{ post.title }}</h2>
    <p class="post-admin-name">{{ post.username }}</p>

    <p class="post-date">{{ post.createdAt | date:'mediumDate' }}</p>
    <img [src]="post.imageUrl" alt="Post Image" class="post-image" *ngIf="post.imageUrl" />
    <div class="likes">
      <div>{{ post.funnycount + post.sadcount + post.loveitcount }} Likes</div>
    </div>
    <div class="deletebookmark">
      <div>
        <button (click)="deletebookmark(post._id)">Remove</button>
      </div>
      <div class="readbookmark">
        <button style="cursor: pointer;"  [routerLink]="'/reading/' + post._id" >READ</button>
      </div>
    </div>
    
  </div>
  
</div>

</div>
</div>
