<footer class="app-footer">
    <div class="footer-hero">
      <h1 class="hero-text">
        <span>B</span><span>E</span><span>R</span><span>O</span><span>N</span><span>Y</span>
      </h1>
        <p class="hero-subtext">
            BeRony is a collaborative blogging + vlogging social platform where you can write,video, edit, and share your thoughts with the world.
        </p>
    </div>
    <div class="footer-content">
      <p>
        <a href="https://github.com/Ronak-Ronu" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i> 
          Check out my GitHub
        </a>
      </p>
      <p>Crafted bugs with ❤️ by Ronak</p>
    </div>
  </footer>
