<div class="headingwrite" [innerHTML]="post.title">
  <!-- <p>{{}}</p> -->
</div>

<div class="containerforeading"  >
  <div class="leftreadingsection">



    <div class="imagesection">
      <div *ngIf="post.imageUrl">
        <img [src]="post.imageUrl" [alt]="post.title" />
      </div>
      
      <!-- Check if videoUrl exists, if not, show nothing or handle it as fallback -->
      <div *ngIf="post.videoUrl && !post.imageUrl" >
        <video [src]="post.videoUrl" controls >
          Your browser does not support the video tag.
        </video>
      </div>
    
    </div>
    


    <div class="buttonsection">
      <div class="footerbuttonsgrey">
        <div>
          <button class="footerbutton" (click)="readingblog ? stop() : start(post.bodyofcontent)">
            {{ readingblog ? 'STOP' : 'READ' }}
          </button>
    
        </div>
        <div>

          <button class="footerbutton" (click)="bookmarkthispost()">
            <img style="transform: rotate(180deg);" src="../../assets/img/bookmark.png" alt=""  /> 
          </button>
        </div>
        <div>
          <button class="footerbutton" (click)="share()">SHARE</button>
        </div>
        <div>
          <button class="footerbutton" (click)="downloadBlog()">
            <img  style="width: 30px;" src="../../assets/img/download-blog-pdf.png" alt=""  /> 

          </button>
        </div>
      </div>
      <div class="likebuttons">

      <div>
        <button
          class="funnybutton"
          [class.liked]="userReactions['funny']"
          (click)="addLike('funny')"
        >
          🤣
        </button>
        <span style="font-size: 25px">
          {{ funnycount }}
        </span>
      </div>
      <div>
        <button
          class="sadbutton"
          [class.liked]="userReactions['sad']"
          (click)="addLike('sad')"
        >
          😟
        </button>
        <span style="font-size: 25px">
          {{ sadcount }}
        </span>
      </div>
      <div>
        <button
          class="loveitbutton"
          [class.liked]="userReactions['loveit']"
          (click)="addLike('loveit')"
        >
          😘
        </button>
        <span style="font-size: 25px">
          {{ loveitcount }}
        </span>
      </div>
  
    </div>

    </div>
      <div class="bodycontentsection" (mouseup)="highlightText()" >
        <div [innerHTML]="sanitizedBodyContent"></div>
         <!-- <p>{{post.bodyofcontent}}</p>  -->
        </div> 

        
    <div class="endofnotesection" [innerHTML]="post.endnotecontent">
    </div>
    <div style="height: 1px; background-color: grey;width: 70%;margin-left: 17%;margin-top: 2%;margin-bottom: 2%;"></div>
    <div class="postadmindetails">Written with ♥️ by - {{ post.username }} 
      <div class="followunfolloebuttons">

        <div class="followuserunfollowuserbtn">
          <button (click)="followUser(loggedinuserid,post.userId)">Follow {{post.username}} </button>
        </div>
        <div class="followuserunfollowuserbtn">
          <button (click)="unfollowUser(loggedinuserid,post.userId)">UnFollow {{post.username}}</button>
        </div>
      </div>
  
    </div>
    <div class="collaborators-section">
      <h3>Collaborators:</h3>
      <div class="collaborators">
        <div *ngFor="let username of collaboratorsUsernames; let i = index">
          <a [routerLink]="'/profile/' +post.collaborators[i]" >
          <div class="collaborator">
              <p>{{ username }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="gist-container">
      <div id="gist-placeholder"></div>
    </div>
    
    <div *ngIf="tagsarray.length" class="tagslist">
      <div class="tags">
        <span *ngFor="let tag of tagsarray" class="tag">{{ tag }}</span>
      </div>
    </div>
  
  </div>

  
</div>


