<div class="headingwrite" [innerHTML]="post.title">
  <!-- <p>{{}}</p> -->
</div>

<div class="containerforeading"  >
  <div class="leftreadingsection">
    <div class="imagesection">
      <div>
        <img [src]="post.imageUrl" [alt]="post.imageUrl" />
      </div>
      <div *ngIf="filetype === 'mp4'">
        <video [src]="post.imageUrl"></video>
      </div>
    </div>


    <div class="buttonsection">
      <div class="footerbuttonsgrey">
        <div>

          <button class="footerbutton" > 
            READ
          </button>
        </div>
        <div>

          <button class="footerbutton" (click)="bookmarkthispost()">
            <img src="../../assets/img/bookmark.png" alt=""  /> 
          </button>
        </div>
        <div>
          <button class="footerbutton" (click)="share()">SHARE</button>
        </div>
      </div>
      <div class="likebuttons">

      <div>
        <button
          class="funnybutton"
          [class.liked]="userReactions['funny']"
          (click)="addLike('funny')"
        >
          🤣
        </button>
        <span style="font-size: 30px">
          {{ funnycount }}
        </span>
      </div>
      <div>
        <button
          class="sadbutton"
          [class.liked]="userReactions['sad']"
          (click)="addLike('sad')"
        >
          😟
        </button>
        <span style="font-size: 30px">
          {{ sadcount }}
        </span>
      </div>
      <div>
        <button
          class="loveitbutton"
          [class.liked]="userReactions['loveit']"
          (click)="addLike('loveit')"
        >
          😘
        </button>
        <span style="font-size: 30px">
          {{ loveitcount }}
        </span>
      </div>
    </div>

    </div>


      <div class="bodycontentsection" (mouseup)="highlightText()" >
        <div [innerHTML]="sanitizedBodyContent"></div>
        <!-- <p>{{post.bodyofcontent}}</p> -->
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque labore ea doloribus, perferendis, quae corrupti corporis cumque quod iure optio dolores a possimus incidunt natus molestias nulla quibusdam ex amet.
          Ab minus placeat modi provident eum error voluptatibus vero praesentium numquam magni <br><br> ipsa nulla quis voluptas maxime, distinctio dolor alias qui maiores pariatur et tempora. Earum iusto quidem tempore quam.
          Unde natus quibusdam aut! Quod distinctio totam iure sed eligendi iste. Eaque explicabo quibusdam veniam, sint quae doloribus id sequi qui natus quis, consectetur ad facilis. Illum consequatur maiores inventore?
          Iure in animi culpa vero qui reprehenderit nisi vel nesciunt soluta fugiat modi, nam sint, sequi dolorum voluptates,<br><br> provident natus eum alias porro? Adipisci ea voluptatibus quis excepturi, sint provident.
          Hic inventore magni deleniti non illo <br><br> reprehenderit tempore natus minus temporibus quis, ipsum soluta officiis odio enim, aspernatur necessitatibus, perferendis harum error similique amet nulla ratione delectus. Aliquam, sed numquam?</p> -->
        </div>
    
        
    <div class="endofnotesection" [innerHTML]="post.endnotecontent">
      <!-- <p>{{post.endnotecontent}}</p> -->
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi aliquam aliquid voluptatum, possimus aspernatur facilis omnis eum dolorum alias, totam unde adipisci repudiandae rerum</p> -->
    </div>
    <div style="height: 1px; background-color: grey;width: 70%;margin-left: 17%;margin-top: 2%;margin-bottom: 2%;"></div>
    <div class="postadmindetails">Written with ♥️ by - {{ post.username }} {{post.userEmotion}}
    </div>
    <div *ngIf="tagsarray.length" class="tagslist">
      <div class="tags">
        <span *ngFor="let tag of tagsarray" class="tag">{{ tag }}</span>
      </div>
    </div>
  
  </div>


  <div class="rightcommentsection">
    <div class="discussionheader">
      <h1>DISCUSSION</h1><div (click)="refreshcomponent()" class="refreshbtn">⟳</div>
    </div>
    <div class="addcommentsection">
      <div *ngIf="loggedInUserAccount">
        <h2>Leave a Comment</h2>
        <div *ngIf="isCommentBoxOpen" >
          <span class="showhighlightTextInCommentStyle">
            {{showhighlightTextInComment}}
          </span>
      </div> 
        <div class="inputbox">
       
          <div class="textarea-container">
              <textarea
                  [(ngModel)]="newCommentText"
                  name="newCommentText"
                  maxlength="300"
                  placeholder="What's your thought on this :)"
                  (keydown.enter)="addComment()"
              ></textarea>
          </div>
          <div class="button-container">
              <button class="submitComment" (click)="addComment()">Post</button>
          </div>
      </div>
  
      <div>
        <input class="inputgifstyle"
          type="text" 
          [(ngModel)]="gifSearchQuery" 
          (input)="searchGifs()" 
          placeholder="Comment gif?" 
        />
        
        <div *ngIf="gifs.length">
          <div class="gif-container">
            <div  style="background-color: rgb(190, 190, 190);"
              class="gif" 
              *ngFor="let gif of gifs" 
              (click)="selectGif(gif)">
              <img [src]="gif.images.fixed_height_small.url" [alt]="gif.title"/>
            </div>
          </div>
        </div>
      </div>
      </div>
     
    </div>

    <div *ngIf="!loggedInUserAccount">
      <p>Please log in to leave a comment</p>
    </div>
    
    <div *ngFor="let comment of comments" class="userandcomments">
      <div class="user1">
        <div class="userdata">
          <div class="userprofile"></div>
          <div class="username">{{comment.username}}

            <br>
            <small>{{ comment.createdAt | date:'short' }}</small>

          </div>
          
        </div>
        <div class="usercomment">
          <p [innerHTML]="getSanitizedHtml(comment.commentText)">
            <!-- {{comment.commentText}} -->
          </p>
        </div>
      </div>
  
    </div>
    
  </div>
  
</div>


