@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
::selection {
    background-color: #6e7af9;
    color: #FFFFFF; 
  }

*{
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.rightcommentsection::-webkit-scrollbar {
    width: 8px;
}
.rightcommentsection::-webkit-scrollbar-track {
    background: #9cbeee; 
    border-radius: 10px;
}
.rightcommentsection::-webkit-scrollbar-thumb {
    background: #727e8d; 
    border-radius: 50px;
}

.imagesection img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    border-radius: 15px;
    margin-left: 50px;


}
.imagesection video{
    width: 80%; 
    height: 70%; 
    object-fit: cover; 
    object-position: center;     
}
.headingwrite{
    width: 100vw;
    font-size: 120px;
    font-weight: 100;
    padding: 40px;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;  
    animation: fade-out linear;
    animation-timeline: view();
  
}

@keyframes fade-out {
    0%{
        scale: 0;
    }
    100%{
      scale: 1;
  
    }
  }
  
.imagesection{
    width: 70%;
    overflow: hidden;
    margin-left: 50px;
    margin: auto;

}


.leftreadingsection{
    width: 70vw;
}
.buttonsection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 0%;
    margin-top: 2%;
}
.footerbuttonsgrey{
    display: flex;
    gap: 5%;
    /* background-color: red; */
    margin-left: 5%;
    width: auto;
    justify-content: space-evenly;
}
.likebuttons{
    display:flex;
    gap: 1px;
    justify-content: space-evenly;
    width: 12vw;
    /* background-color: rebeccapurple; */
}
.footerbutton{
    width: auto;
    height: 100%;
    background-color: rgb(223, 223, 223);
    font-size: 22px;
    border-radius: 6px;
    font-weight: lighter;
    padding: 10px;
    cursor: pointer;
}

.bodycontentsection{
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 30px;
    user-select: text;
}
.collaborators-section{
    width: 60%;
    margin-left: 15%;
    font-size: 22px;
}
.collaborators{
    width: 60%;
    margin-left: 15%;
    color: rgb(127, 24, 223);
}
.collaborator{
    font-size: 27px;

}
.endofnotesection{
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 20px;
}
.tagslist
{
    margin-left: 10%;
    margin-bottom: 5%;
}

.containerforeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.discussionheader{
    height: 7%;
    width: 100%;
    background-color: grey;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyofcontenthighlighted{
    display: flex;
}
.userandcomments{
    padding: 10px;
}
.user1{
    height: auto;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 5%;
}
.userdata{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 5%;
}
.userprofile{
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin-top: 5%;
    background-color: rgb(95, 95, 95);
}

.username{
    font-size: 25px;
}

.usercomment{
    margin-top: 5%;
    width: 85%;
    display: flex;
    margin-left: 10%;
    font-size: 22px;
    padding: 5px;
}
.funnybutton{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 38px;
    cursor: pointer;
}
.sadbutton{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 38px;
    cursor: pointer;
}
.loveitbutton{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 38px;
    cursor: pointer;
}

.funnybutton.liked{
    background-color: rgb(208, 239, 251);
    cursor: pointer;
}
.sadbutton.liked{
    background-color: rgb(248, 248, 208);
    cursor: pointer;

}
.loveitbutton.liked{
    background-color: rgb(252, 222, 222);
    cursor: pointer;

}


.postadmindetails{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 10%;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(255, 228, 255);
    padding: 10px;

}


.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 10px;

  }
  
  .tag {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #bdc2fb; 
    color: #333333;

    padding: 10px 10px;
    border-radius: 3px;
    font-size: 23px;
    border-radius: 50px;
    border:1px solid white;

  }

.refreshbtn{
    height: auto;
    width: auto;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
}

.inputbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.textarea-container textarea {
    width: 350px;
    resize: none;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
   
}

   .inputgifstyle
    {
        width: 90%;
        font-size: 25px;
        margin-left: 2%;
        height: 35px;
    }
.submitComment {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: rgb(161, 161, 255);
    color: white;
    font-weight: bolder;
}

.submitComment:hover {
    background-color: rgb(140, 140, 246);
}


.gif-container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 440px;
    overflow-y: auto;
  }
  
  .gif {
    margin: 5px;
    cursor: pointer;
  }
  
  .gif img {
    width: 100px; 
    height: auto;
  }

  .showhighlightTextInCommentStyle{
    font-size: 30px;
    background-color: #b3b8e8;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
  }
  .gist-embed {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .gist-embed iframe {
    width: 100%;
    height: 500px;
    border: none;
  }
  
  .followunfolloebuttons{
    display: flex;
    gap: 10px;
  }
  .followuserunfollowuserbtn button{
        padding: 10px;
        border-radius: 10px;
        background-color: #b1b8fcc2;
        font-size: 15px;
        cursor: pointer;
  }
  .followuserunfollowuserbtn button:hover{
    background-color: #b1b8fc9c;
  }
  .floating-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(161, 161, 255);
    color: white;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 55px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
  }
  
  .floating-chat-btn:hover {
    background-color: rgb(116, 116, 255);
  }
  
  .rightcommentsection {
    position: fixed;
    bottom: 75px;
    right: 20px;
    width: auto;
    max-height: 80vh;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .closebtn {
    cursor: pointer;
    font-size: 18px;
    float: right;
  }
  
  
  @media (max-width: 600px) {

    .headingwrite{
        font-size: 2rem;
        padding: 20px;
        margin-left: 2%;
    }  
    .imagesection{
        width: 100%;
        left: 0%;
        overflow: hidden;
        position: relative; 
        padding: 10px;
    }
    
    .imagesection img{
        width: 95%; 
        height: 100%; 
        margin-left: 0%;   
    }
    .imagesection video{
        width: 97%;
        margin-left: 0%;
    }
    .rightcommentsection{
        height: auto;
        width: 95%;
        background-color: rgb(255, 255, 255);
        margin-top: 4%;
        margin-left: 0%;
        overflow: auto;
        border: 1px solid rgb(53, 53, 53);
        border-radius: 10px;
        padding: 10px;
    }
    .addcommentsection{
        font-size: 9px;
    }
    .inputbox{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #e0e0e0;
    }
    .gif-container{
        display: flex;
        flex-wrap: wrap;
        height: 400px;
        overflow-y: auto;
    }
    .leftreadingsection{
        width: 100vw;
    }
    .buttonsection{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 7vh;
        display: flex;
        gap: 1%;    
        margin-left: 1%;
        margin-top: 1%;
    }
    .footerbuttonsgrey{
        display: flex;
        gap: 5%;
        width: 100vw;
        justify-content: space-evenly;
    }    
    .likebuttons{
        display:flex;
        gap: 1%;
        padding: 10px;
        justify-content: space-evenly;
        width: 100vw;
    }    
    .footerbutton{
        width: auto;
        background-color: rgb(223, 223, 223);
        font-size: 20px;
        border-radius: 6px;
        font-weight: lighter;
        padding: 15px;

    }
    .bodycontentsection{
        width: 90%;
        margin-top: 30%;
        padding-top: 25px;
        margin-left: 5%;
        font-size: 25px;
    }    
    .containerforeading{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }
    .endofnotesection{
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 24px;
    }
    
    .discussionheader{
        height: 3%;
        width: 100%;
        background-color: rgb(223, 223, 223);
        font-weight: lighter;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    
    .userandcomments{
        padding: 10px;
    }
    
    .funnybutton{
        height: auto;
        width: auto;
        font-size: 35px;
        cursor: pointer;
        padding: 5px;
    }
    .sadbutton{
        height: auto;
        width: auto;
        font-size: 35px;
        cursor: pointer;
        padding: 5px;
    }
    .loveitbutton{
        height: auto;
        width: auto;
        font-size: 35px;
        cursor: pointer;
        padding: 5px;
    }
    .tagslist
    { 
        margin-left: 5%;
        margin-bottom:0%;
        margin-top: 0%;
    }   
    .gif img {
            width: 150px; 
            height: auto;
    }    
    .tag {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #a8aee9; 
            color: #333333;
            font-size:20px;
            border-radius: 50px;
            border:1px solid white;
            padding:15px;
    }
        
     .postadmindetails{
            width: auto;
            margin-top: 5%;
            margin-left: 5%;
            margin-bottom: 10%;
            font-size: 25px;
            border-radius: 20px;
            background-color: rgb(255, 228, 255);
            padding: 10px;
    }

  }
  
  @media (min-width: 601px) and (max-width: 1000px) {
    .headingwrite{
        font-size: 4rem;
        padding: 60px;
        margin-left: 5%;
    }  
    .imagesection{
        width: 100%;
        left: 5%;
        overflow: hidden;
        position: relative; 
    }
    
    .imagesection img{
        width: 90%; 
        height: 100%; 
        object-fit: cover; 
        object-position: center;     
        margin-left: 5%;
    }
    .rightcommentsection{
        height: auto;
        width: 99vw;
        background-color: rgb(255, 255, 255);
        margin-top: 5%;
        margin-left: 2%;
        overflow: auto;
        border: 1px solid rgb(53, 53, 53);
        border-radius: 10px;
        padding: 15px;
    }
    

    .leftreadingsection{
        width: 100vw;
    }
    .buttonsection{
        width: 100vw;
        height: 7vh;
        display: flex;
        align-items: flex-start;
        gap: 3%;    
        margin-left: 8%;
        margin-top: 5%;
    }
    
    .footerbutton{
        background-color: rgb(223, 223, 223);
        font-size: 35px;
        border-radius: 6px;
        font-weight: lighter;
        padding: 15px;
        margin: 10px;

    }
    .bodycontentsection{
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 50px;
    }
    .containerforeading{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }
    .endofnotesection{
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 45px;
    }
    
    .discussionheader{
        height: 7%;
        width: 100%;
        background-color: rgb(223, 223, 223);
        font-weight: lighter;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    
    .userandcomments{
        padding: 10px;
    }
    
    .funnybutton{
        height: auto;
        width: auto;
        font-size: 60px;
        cursor: pointer;
        padding: 5px;
    }
    .sadbutton{
        height: auto;
        width: auto;
        font-size: 60px;
        cursor: pointer;
        padding: 5px;
    }
    .loveitbutton{
        height: auto;
        width: auto;
        font-size: 60px;
        cursor: pointer;
        padding: 5px;
    }
    .tagslist
    {    margin-left: 5%;
        margin-bottom:0%;
        margin-top: 0%;

        }
    .tag {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #a8aee9; 
            color: #333333;
            border-radius: 3px;
            font-size:35px;
            border-radius: 50px;
            border:1px solid white;
            padding: 20px;
        
          }
        
        .postadmindetails{
            width: auto;
            margin-top: 5%;
            margin-left: 5%;
            margin-bottom: 10%;
            font-size: 35px;
            border-radius: 20px;
            background-color: rgb(255, 228, 255);
            padding: 10px;
        }
    
}