/* @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* *{
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
} */
.writemainbody{
    height: 85vh;
}
.headingwrite{
    font-family: "Julius Sans One", sans-serif;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
    padding: 40px ;
    margin-left: 20%;
}
.aboutrony{
    padding: 40px ;
    width: 60%;
    margin-left: 20%;
    /* font-weight: bolder; */
    font-size: 30px;
    line-height: 45px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}

@media (max-width: 600px) {
    .writemainbody{
        height: 100vh;
    }
    .headingwrite{
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        padding: 10px;
        margin-left: 5%;
        width: 90%;
    }
    .aboutrony{
        padding: 10px;
        margin-left: 6%;
        font-size: 20px;
        line-height: 45px;
        font-family: "PT Sans", sans-serif;
        font-weight: 200;
        width: 90%;
    
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .writemainbody{
        height: 85vh;
    }
    .headingwrite{
        font-family: "Julius Sans One", sans-serif;
        font-size: 70px;
        font-weight: 500;
        font-style: normal;
        padding: 40px ;
        margin-left: 10%;
    }
    .aboutrony{
        padding: 20px;
        margin-left: 10%;
        width: 77%;
        /* font-weight: bolder; */
        font-size: 60px;
        line-height: 80px;
        font-family: "PT Sans", sans-serif;
        font-weight: 200;
        font-style: normal;
    
    }
}