<nav class="navbar">

  <div class="logo">
    
    <div class="logoname">

      <p><a routerLink="/"  >BERONY</a></p>  
    </div>
    
    <div class="logoimage">
      <a routerLink="/">
        <img src="assets/img/logo.gif" alt="logo"/>  
      </a>
    </div>
</div>

<div class="hamburger" (click)="toggleMenu()" [ngClass]="{ 'hamburgerActive': menuOpen }">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
    <div class="rightcontent" [class.show-menu]="menuOpen">
      
      <p><a routerLink="/read" (click)="toggleMenu()">READ</a></p>

      <p><a routerLink="/write" (click)="toggleMenu()">WRITE</a></p>
      <p><a routerLink="/userdashboard" (click)="toggleMenu()">PROFILE</a></p>
      <p><a routerLink="/whosrony" (click)="toggleMenu()">WHO'S RONY</a></p>
      <p *ngIf="loggedInUser" (click)="logout()" id="logoutbutton" (click)="toggleMenu()">LOG OUT</p>
      <p *ngIf="!loggedInUser" (click)="login()" id="loginbutton" (click)="toggleMenu()">LOG IN</p>

    </div>
  </nav>