<div class="profileheadingwrite">
    <div class="username">

      {{userData.username}} 
    </div>
    <div class="usercurrentemotion">
      {{userData.userEmotion}} 
      </div>
</div>

<div class="profilecomponent">

<div class="dashboard-container">
    <div class="sidebar">
      <ul>
        <div>
          <li (click)="setActiveSection('overview')" [ngClass]="{'active': activeSection === 'overview'}">Overview</li>
        </div>

        <div>
          <li (click)="setActiveSection('my-blogs')" [ngClass]="{'active': activeSection === 'my-blogs'}">My Blogs</li>
        </div>
        <div>

          <li *ngIf="isViewingOwnProfile" (click)="setActiveSection('analytics')" [ngClass]="{'active': activeSection === 'analytics'}">Analytics</li>
        </div>
        <div>
          <li *ngIf="isViewingOwnProfile" (click)="setActiveSection('settings')" [ngClass]="{'active': activeSection === 'settings'}">Settings</li>
        </div>
      </ul>
    </div>
    <div class="main-content">
      
      <app-overview *ngIf="activeSection === 'overview'" [userBio]="userBio" [username]="username"></app-overview>
      <app-my-blogs *ngIf="activeSection === 'my-blogs'" [posts]="posts"   [bookmarkposts]="bookmarkposts" [loggedinuserid]="userId"></app-my-blogs>
      <app-analytics *ngIf="isViewingOwnProfile && activeSection === 'analytics'" [posts]="posts" ></app-analytics>
      <app-settings *ngIf="isViewingOwnProfile && activeSection === 'settings'" [userId]="userId" [isEmailVerified]="isEmailVerified"></app-settings>
    </div>
  </div>

  <div class="userprofiledetails">
      <div class="bottomuserbiodetails">

          <div class="userprofileimage">
              <img draggable="false" [src]="imageurl" alt="">
          </div>
          <div class="usernamedetail">
              {{username}}
          </div>
          <div class="userfollowanalytics">

            <div class="usebrpostsdetail">
              16 Posts
            </div>
            <div class="userfollowers">
              12k Followers
            </div>
          </div>
    </div>
    <div >

      <div class="userbiodetail">
        {{userData.userBio}}
      </div>
      <div class="followuserbutton">
        <button (click)="shareProfile()">Share Profile</button>
      </div>
</div>

  </div>

</div>
