<div class="profileheadingwrite">
    <div class="username">

      {{username}} 
    </div>
    <div class="usercurrentemotion">
      😉
    </div>
</div>

<div class="profilecomponent">

<div class="dashboard-container">
    <div class="sidebar">
      <ul>
        <div>
          <li (click)="setActiveSection('overview')" [ngClass]="{'active': activeSection === 'overview'}">Overview</li>
        </div>

        <div>
          <li (click)="setActiveSection('my-blogs')" [ngClass]="{'active': activeSection === 'my-blogs'}">My Blogs</li>
        </div>
        <div>

          <li (click)="setActiveSection('analytics')" [ngClass]="{'active': activeSection === 'analytics'}">Analytics</li>
        </div>
        <div>
          <li (click)="setActiveSection('settings')" [ngClass]="{'active': activeSection === 'settings'}">Settings</li>
        </div>
      </ul>
    </div>
    <div class="main-content">
      <app-overview *ngIf="activeSection === 'overview'"></app-overview>
      <app-my-blogs *ngIf="activeSection === 'my-blogs'" [posts]="posts" [bookmarkposts]="bookmarkposts" [loggedinuserid]="userId"></app-my-blogs>
      <app-analytics *ngIf="activeSection === 'analytics'"></app-analytics>
      <app-settings *ngIf="activeSection === 'settings'"></app-settings>
    </div>
  </div>

  <div class="userprofiledetails">
 
      <div class="userprofileimage">
            
      </div>
      <div class="usernamedetail">
          {{username}}
      </div>
      <div class="userpostsdetail">
        16 Posts
    </div>
      <div class="userfollowers">
            12k Followers
      </div>
      <div class="userbiodetail">
        Every Sunday I send one lesson to 15,000 part-time creators to help them build their business alongside their 9-to-5. Join free →
      </div>
      <div class="followuserbutton">
        <button>Share Profile</button>
      </div>
  </div>

</div>
