<div class="useraboutoverview">
    <div class="overviewprofileiamge">
        
    </div>
    <div class="overviewfollowdetails">
        <div class="followersdetail"> 
            
            193 Followers
        </div> |
        <div class="followigndetails">
            70 Following
        </div>
    </div>
    <div class="overviewuserbio">
        Every Sunday I send one lesson to 15,000 part-time creators to help them build their business alongside their 9-to-5. Join free →
    </div>
    <div class="overviewconnectwithuser">
        <div class="connecttext">
            Connect with Tom Scullin
        </div>
        <div class="connectsocialproof">
            <div class="insta">

            </div>
            <div class="insta">
                
            </div>
            <div class="insta">
                
            </div>
        </div>
    </div>
</div>