<div class="useraboutoverview">
    <!-- <div class="overviewprofileiamge"> -->
        <ng-content></ng-content> 
    <!-- </div> -->
    <div class="overviewfollowdetails">
        <div class="followersdetail"> 
            
            193 Followers
        </div> |
        <div class="followigndetails">
            70 Following
        </div>
    </div>
    <div class="overviewuserbio">
            {{userBio}}
    </div>
    <div class="overviewconnectwithuser">
        <div class="connecttext">
            Connect with {{username}}
        </div>
        <div class="connectsocialproof">
            <div class="insta">

            </div>
            <div class="insta">
                
            </div>
            <div class="insta">
                
            </div>
        </div>
    </div>
</div>