<div class="readmainbody">
<div class="topitems">

    <div class="headingread">
        <p>READ</p>
    </div>

    <div class="searchitems">
        <div class="searchbar">
            <input type="text" placeholder="ronak" [(ngModel)]="searchQuery"  (keydown.enter)="onSearch()">
        </div>
        <button class="searchbutton" (click)="onSearch()">YUP <span style="font-size: 40px;">↵</span></button>
    </div>
</div>

<!-- endoftopitems -->

<div class="filters">
    <button class="filterbutton" (click)="toggleFilters()" style="width: 200px ;">
        <div *ngIf="!showFilters" >
                Filter <span class="filteremoji">👉</span>
        </div>
        <div *ngIf="showFilters">
            Filter <span class="filteremoji">👈</span>
        </div>
    </button>
    <button class="filterbutton1" *ngIf="showFilters" [ngClass]="{'enter': showFilters, 'exit': !showFilters}"  (click)="filterByTag('Gadgets')">Gadgets</button>
    <button class="filterbutton1" *ngIf="showFilters" (click)="filterByTag('DBMS')">DBMS</button>
    
    <button class="filterbutton1" *ngIf="showFilters"  (click)="filterByTag('Self Improvement')" >Self Improvement</button>
    <button class="filterbutton1" *ngIf="showFilters" (click)="filterByTag('Games')">Games</button>

</div>
<!-- endoffilteritems -->

<div class="readcontainer">

<div class="blogscontainer" infiniteScroll 
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="30"
(scrolled)="seemore()" >
    <div *ngIf="isloadingblogs" class="loader"> 
        Loading beautiful blogs for {{username}} ♥️ 
    </div>

<div *ngFor="let item of blogs">
            
        <div class="contentdivs">
        <div class="thumbnail" [ngStyle]="{'background-image': getBackgroundImage(item)}">

        </div>

        <div class="rightcontentthumbnail">
            
            <div class="thumbnailname" >
                <b [innerHTML]="item.title">
                    <!-- {{item.title}} -->
                </b>
                <p [innerHTML]="item.endnotecontent">
                    <!-- {{item.endnotecontent}} -->
                </p>
                <div style="display: flex;align-items: center;">

                    <div class="pickprofileblog">
                        <img [src]="'https://cloud.appwrite.io/v1/storage/buckets/'+bucketName+'/files/' + item.userId + '/view?project='+project+'&mode='+mode+''" alt="">
                    </div>
                    <div>
                        <u style="cursor: pointer;">{{item.username}}</u>
                    </div>
                </div>
            </div>

            <div class="footerbuttons">
                <button style="cursor: pointer;" class="footerbuttoncls" [routerLink]="'/reading/' + item._id" (click)="getid(item)">READ</button>
                <div class="invisiblediv"></div>
                <button class="footerbuttoncls">SAVE</button>
                <div *ngIf="item.userId===this.userId && this.loggedInUserAccount">
                    <button class="footerbuttoncls" style="cursor: pointer;" (click)="deletepost(item)">DEL</button>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>


<div class="leftshowcontainer"> 
    <div class="recommendations">
       <div>
           <span class="recommendationtitle">Recommeded Topics</span>
        </div>
        <br>
       <div>
           <button class="recommendationsbutton" (click)="filterByTag('Anime')">Anime</button>
           <button class="recommendationsbutton" (click)="filterByTag('Self Improvement')">Self Improvement</button>
           <button class="recommendationsbutton" (click)="filterByTag('Music')">Music</button>
           <button class="recommendationsbutton" (click)="filterByTag('Lifestyle')">Lifestyle</button>
           <button class="recommendationsbutton" (click)="filterByTag('Games')">Games</button>
           <button class="recommendationsbutton" (click)="filterByTag('Comedy')">Comedy</button>
           <button class="recommendationsbutton" (click)="filterByTag('Movie')">Movie</button>
           <button class="recommendationsbutton" (click)="filterByTag('Toppers')">Toppers</button>
           <button class="recommendationsbutton" (click)="filterByTag('CSBS')">CSBS</button>
        </div>
    </div>
    <hr>
    <div class="toppicks">
        <div>
            <span class="toppicktitle">Top Picks</span>
         </div>
            <div class="pick1">
                <div class="pickinfo">
                    <div class="pickprofile"></div>
                    <p><u style="cursor: pointer;">Michle</u> from BeRony</p>
                </div>
                <div class="pickbrief">
                    <b>This is the best page to showcase your life and journey .&hearts; </b>
                </div>
                <div class="readtime">
                    Jan 21, 2024 · 6 min read
                </div>
            </div>

            <div class="seeall">
                See all (12)
            </div>

    </div>
</div>
</div>
<div class="seemorebutton">
    <button (click)="seemore()">Whats Next?</button>
</div>

</div>
