
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap'); 

.readmainbody{
    height: 85vh;
    
}
.headingread{
    font-size: 64px;
    padding: 40px ;
    margin-left: 10%;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
.searchbar,.searchbar input{
    width: 30vw;
    height: 6vh;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    font-size: 30px;
}
.searchbutton{
    
    background-color: #C6CAF9;
    height: 7vh;
    width: 7vw;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}
.searchitems{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
input:focus{
    outline: none;
    border-bottom:5px solid black;
}
.topitems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.filterbutton {
    background-color: #d9dcf8;
    min-width: 9vw;
    max-width: 9vw;
    width: 7vw;
    height: 7vh;
    font-size: 27px;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .filterbutton1 {
    background-color: #d5d8f9;
    min-width: 9vw;
    max-width: 9vw;
    width: 7vw;
    min-height: 7vh;
    max-height: 7vh;
    height: 7vh;
    font-size: 27px;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 2%;
    cursor: pointer;
    overflow: visible;
    padding: 10px;
    animation: fadeIn 0.5s forwards;
}


.recommendationsbutton{
    background-color: #d5d8f9;
    min-height: 4vh;
    max-height: 4vh;
    height: 4vh;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    cursor: pointer;
    padding: 10px;
    animation: fadeIn 0.5s forwards;
 


}
.filters{
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin-left: 4%;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.footerbuttoncls{
    background-color: #C6CAF9;
    height: 5vh;
    width: 5vw;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 10px;transition: all 0.3s ease-in; 
}
.footerbuttoncls:hover{
    background-color: #adb4f9;
    border-radius: 5px;


}
.thumbnail{
    
    width: 399px;
    height:300px ;
    border-radius: 10px ;
    object-fit: contain; 
    background-size: cover; 
    background-position: center; 
}
.contentdivs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    margin-top: 7%;
    margin-bottom: 5%;
    
}

.thumbnailname{
    font-size: 25px;
    height: 70%;
    width: 500px;
    text-wrap: pretty;
}
.footerbuttons{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}


.invisiblediv
{
    width: 100px;
}




.readcontainer{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.leftshowcontainer{
    height: 60vh;
    border-left: 0.5px solid rgb(118, 117, 117);
    width:25%;
    padding: 10px;
    margin-top: 2%;
}
 /* .recommendations{
} */

.toppicks{
    padding: 10px;
}
.pick1 .pickinfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 23px;
}
.pick1 .pickinfo .pickprofile{
    height: 27px;
    width: 27px;
    border-radius: 100px;
    background-color: rgb(151, 76, 227);
    margin-right: 3%;
}
.pickprofileblog{
    height: 27px;
    width: 27px;
    border-radius: 100px;
    background-color: rgb(151, 76, 227);
    margin-right: 3%;
}
.pick1 .pickbrief
{
    font-size: 20px;
}
.pick1 .readtime{
    margin-top: 20px;
}
.seeall
{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10%;
    color: rgb(78, 161, 164);
}


.loader{
   margin-top: 10%;
    font-size: 40px;
}

.nextandprevbtn
{
    margin-top: 10px;
    height: 5px;
    padding: 20px;
    background-color: #babff9;
     border-radius: 5px;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: all 0.3s ease-in-out; 
 
}

.nextandprevbtn:hover {
    background-color: #a3aaff;
    color: white; 
}
