<div class="container">
  <h2>Posts Reaction Analytics</h2>
  <div *ngFor="let postData of reactionCountsData" class="chart-container">
    <div>Post: <p style="font-size: 1.5rem;">{{ postData.title }}</p></div>
    <ngx-charts-bar-vertical
      [results]="[
        { name: 'Funny', value: postData.counts.Funny },
        { name: 'Sad', value: postData.counts.Sad },
        { name: 'Love it', value: postData.counts.LoveIt }
      ]"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="false"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Reaction Type"
      yAxisLabel="Count"
    >
    </ngx-charts-bar-vertical>
    <br>
  </div>
</div>
