@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
::selection {
  background-color: #6e7af9;
  color: #FFFFFF; 
}
* {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#meme-gif {
  position: absolute;
  width: 200px; 
  pointer-events: none;
  border-radius: 12px;
  z-index: 999;
}

.hidden {
  display: none;
}
@keyframes gradientGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
#canvas-container {
  position: absolute;
  width: 100%;
  display: block;
  overflow: hidden;
}

.highlight1, .highlight2, .highlight3, .highlight4 {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(45deg, #663399, #8844aa, #b26cd7, #d4a4ff);
  background-size: 300% 300%;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background 0.5s ease-in-out;
}

.highlight1:hover,
.highlight2:hover,
.highlight3:hover,
.highlight4:hover {
  background-position: 100% 0;
  box-shadow: 0px 0px 15px rgba(178, 108, 215, 0.6);
  animation: gradientGlow 3s infinite alternate;
  margin: 2px;
}


.bodyelement {
  width: 93vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centerelements {
  position: sticky;
  position: -webkit-sticky;
  top: 20rem; 
  margin-top: 15vh;
  text-align: center;
  line-height: 0;
  font-size: 96px;
  animation: fade-out linear;
  animation-timeline: view();
}
.centerbelow{
  font-size: 32px;
  position: sticky;
}

@keyframes fade-out {
  0%{
      opacity: 1;
      scale: 1.3;
  }
  75%{
    color: rebeccapurple;

  }
  100%{
    opacity: 0;
    scale: 0.1;

  }
}

.footer {
  width: 100vw; 
  height: auto;
  display: flex;
  justify-content: end;
  overflow: hidden;
  bottom: 0;
  position: fixed;
}

.footer img {
  max-width: 100%;
  width: 290px;
  height: auto; 
  margin-bottom: 0%;
  
}

.homepageContainer{
  isolation: isolate;
  height: 100%;
  width: 100%;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  
}
.greybox{
  height: 610px;
  width: 890px;
  background-color: #f9f9f9;
  box-shadow: 0 0 30px rgba(139, 139, 235, 0.5);
  border-radius: 15px;
  animation: shadowinc linear;
  animation-timeline: view();
}

@keyframes shadowinc {
  0%{
    box-shadow: 0 0 15px rgba(139, 139, 235, 0.5);

  }
  100%{
    box-shadow: 0 40px 100px rgba(123, 123, 233, 0.5);

  }
}

.collabwriting textarea{
  width: 584px;
  height: 490px;
  resize: none;
  font-size: 21px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: rgb(0, 0, 0,0.8);
  border-radius: 10px;
  border: 1px solid #8b8beb;
  outline: none;
  background-color: #f8f8f8;
  padding: 16px;
  animation: scaletextare linear;
  animation-timeline: view();

}

textarea:focus{
  border-color: #8b8beb;
  box-shadow: 0 0 15px rgba(139, 139, 235, 0.5);
  transform: scale(1.01);  
  transition: 0.5s ;
}


@keyframes scaletextare {
  0%{
    scale: 1;

  }
  100%{
    scale: 1.2;
    margin-top: -1.5rem;
  }
}

.useraddtreefeature{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 200px;
  margin-left: 300px;
  margin-bottom: 280px;
  z-index: 500;
}
.beronylandvisual {
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.beronylandvisual iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.useraddtreepresenting
{
  width: 45%;font-size: 38px;
}

.collabwriting {
  position: relative;
  top: 60px; 
  left: 110%;
  transform: translateX(-50%); 
}
.button-group{
  position: relative;
  top: -40px; 
  left: 52%;
  transform: translateX(-50%); 
}
.btn-save{
  font-weight: bold;
  cursor: pointer;
}


.aboutcollabwriting {
  height: auto; 
  width: 260px;
  position: relative;
  top: -40px; 
  left: -25%;
  transform: translateX(-50%); 
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 18px;
  font-family: 'Arial', sans-serif; 
  border-radius: 10px;
  border: 1px solid #8b8beb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
}

.userimage {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}

.userimage img {
  width: 100px;
  height: 100px;
  border-radius: 9%; 
  border: 2px solid #8b8beb; 
  margin-left: -5%;

}

.posttitle {
  font-weight: bold; 
  text-align: center; 
  margin-bottom: 5px; 
  margin-left: -5%;

}

.authorname {
  text-align: center; 
  color: #555; 
  font-size: 14px; 
  margin-left: -5%;

}
.likes {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -37%;
  gap: 3px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.likes div {
  display: flex;
  align-items: center;
  margin: 5px 0;
  transition: transform 0.2s;
}

.likes div:hover {
  transform: scale(1.1);
}

.likes span {
  margin-left: 5px;
  font-weight: bold;
}


.aboutronymore{
  font-size: 25px;
  position: absolute;
  padding: 27px;
  line-height: 1.5;
  width: 460px;
}


@media (max-width: 600px) {
  .bodyelement {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centerelements {
    margin-top: 15vh;
    text-align: center;
    line-height: 1;
    font-size: 34px;
  }
  .centerbelow{
    font-size: 22PX;
  }
  .footer {
    width: 100vw; 
    height: auto;
    display: flex;
    justify-content: end;
    overflow: hidden;
    bottom: 0;
    position: fixed;
  }
  
  .footer img {
    max-width: 100%;
    width: 150px;
    height: auto; 
  margin-bottom: 0%;
    
  }


.homepageContainer{
  height: 100%;
  width: 99%;
  margin-top: 40%;
  margin-bottom: 20%;
}
.greybox{
  height: 610px;
  width: 98vw;
  background-color: #f9f9f9;
  box-shadow: 0 0 15px rgba(139, 139, 235, 0.5);
  border-radius: 15px;
}

.collabwriting textarea{
  width: 75vw;
  height: 46vh;
  font-size: 18px;
  padding: 10px;
}

textarea:focus{
  border-color: #8b8beb;
  box-shadow: 0 0 15px rgba(139, 139, 235, 0.5);
  transform: scale(1.01);
}

.collabwriting {
  position: relative;
  width: 60vw;
  top: 40%; 
  margin-left:-72%;
}
.button-group{
  position: relative;
  top: -40px; 
  left: 52%;
  transform: translateX(-50%); 
}
.btn-save{
  font-weight: bold;
  cursor: pointer;
}
.aboutcollabwriting {
  height: auto; 
  width: 275px;
  position: relative;
  top: 36%; 
  left: 30%;
  transform: translateX(-50%); 
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 18px;
  font-family: 'Arial', sans-serif; 
  border-radius: 10px;
  border: 1px solid #8b8beb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  transition: transform 0.2s; 
}

.userimage {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}

.userimage img {
  width: 100px;
  height: 100px;
  border-radius: 9%; 
  border: 2px solid #8b8beb; 
  margin-left: -5%;

}

.posttitle {
  font-weight: bold; 
  text-align: center; 
  margin-bottom: 5px; 
  margin-left: -5%;

}

.authorname {
  text-align: center; 
  color: #555; 
  font-size: 14px; 
  margin-left: -5%;

}
.likes {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -37%;
  gap: 3px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.likes div {
  display: flex;
  align-items: center;
  margin: 5px 0;
  transition: transform 0.2s;
}

.likes div:hover {
  transform: scale(1.1);
}

.likes span {
  margin-left: 5px;
  font-weight: bold;
}
.aboutronymore{
  font-size: 18px;
  position: absolute;
  padding: 10px;
  line-height: 1.5;
  width: 80%;
}


.useraddtreefeature{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 300px;
  margin-left: 10px;
  margin-bottom: 100px;
  z-index: 500;
}
.beronylandvisual {
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.beronylandvisual iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.useraddtreepresenting
{
  width: 90%;font-size: 28px;
}

}